<h1 style="text-align: center;">Home Page</h1>
<button style="margin: auto; display: block;"><a href="/home/registration">Registraion</a></button><br>
<button  style="margin: auto; display: block;"><a href="/home/ack">Download Acknowledgement</a></button><br>
<button style="margin: auto; display: block;"><a href="/home/omr">generate omr sheet</a></button>
